[Unit]
Description=Miemie Podcast Web
After=network.target

[Service]
Type=simple
WorkingDirectory=__ROOT_DIR__
EnvironmentFile=__ROOT_DIR__/.env
ExecStartPre=/usr/bin/test -f __ROOT_DIR__/apps/web/.next/BUILD_ID
ExecStartPre=/usr/bin/test -f __ROOT_DIR__/apps/web/.next/standalone/apps/web/server.js
ExecStart=/usr/bin/env APP_ENV=production HOSTNAME=${APP_HOST} PORT=${APP_PORT} __NODE_BIN__ __NODE_WEBSTORAGE_FLAG__ __ROOT_DIR__/apps/web/.next/standalone/apps/web/server.js
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
